[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pip = "*"
install = "*"
tortoise-orm = "*"
aerich = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
fastapi-jwt-auth = "*"
pydantic = {extras = ["email"], version = "*"}
asyncpg = "*"
requests = "*"
asynctest = "*"

[dev-packages]

[requires]
python_version = "3.8"
